@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;800&display=swap');

body {
    font-family: 'Barlow', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

img {
    border-radius: 10px;
    width: 8cm;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;

}

p {
    font-size: 17px;
    color: hsl(220, 15%, 55%);
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 23px;
}

.qr {
    background-color: white;
    border-radius: 15px;
    height: 500px;
    width: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.paraphs {
    text-align: center;
    height: 150px;
    margin-bottom: 20px;
    width: 7.5cm;
    margin-left: 22px;
}
